<!DOCTYPE html>
<html>
  <head>
    <title>Tasha</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>NodeJS CRUD App</h1>
    <p>Welcome to Tasha</p>
  </body>
</html>
